<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('{{ 'confirme.delete.product'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn" name="delete">{{ 'delete'|trans }}</button>
</form>
