<form method="post" action="{{ path('app_car_delete', {'id': car.id}) }}" onsubmit="return confirm('{{ 'confirme.delete.item'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn-red" name="delete">{{ 'delete'|trans }}</button>
</form>
